#hero {
    margin-top:0px;
    height:400px;
    padding:100px 0px 0px 0px;
    display:block;
    background-color:tomato;
    /* you can set image at landing page. */
    /*background-image:url("/static/img/big-img.png");*/
    background-size:cover;
}

.jumbotron h1 {
    color:white;
    font-size: 50px;
    line-height: 1;
}

.form-area{
    padding:5%;
    background-color:#fff;
    border-radius:1px;
}

.lead {
    color:#fff;
}

.cnt{
    text-align:center;
}
